{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}


{% block component_filter_range_toggle_icon %}
    <div class="icon-filter-panel-item-toggle">
        {% sw_icon 'icon-arrow' style { 'pack':'custom', 'namespace': 'SsikLibertyTheme', 'class':'ssik xxs' } %}
    </div>
{% endblock %}