.DS_Store
.idea/*
.vscode/*
/src/vendor/
/src/public/bundles/
/src/public/css/
/src/public/fonts/
/src/public/js/
/src/public/media/
/src/public/recovery/
/src/public/sitemap/
/src/public/theme/
/src/public/thumbnail/
/src/public/.htaccess
/src/.env
